{% extends 'base.html.twig' %}

{% block title %}Village Green - Panier client{% endblock %}

{% block body %}

    {% if items|length > 0 %}

        <div class="container">
            <div class="mt-4">

                <h3 class='d-flex justify-content-center title'>
                    Panier
                </h3>
                <hr>

                {% for item in items %}
                    <div class="d-flex row align-items-center">
                    
                    {# layout when multiple items #}
                    
                        <div class="col-9 mt-4">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <img src="{{ asset('upload/product/250x400.jpeg') }}" class="img-fluid rounded" alt="img_test">
                                </div>

                                {# body product #}
                                <div class="col-7">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.product.name }}</h5>
                                        <hr>
                                        <p class="card-text">{{ item.product.label }}</p>
                                        <hr>
                                        <p class="card-text">{{ item.product.descri }}</p>
                                        {# <p class="card-text">{{ item.product.dateCreate|date('Y-m-d H:i:s') }}</p> #}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Info prix produit #}
                        <div class="col-3">
                            <div class="m-3">
                                <h6>Total unitaire</h6>
                                <p class="card-text">{{ item.product.pricePt }} €</p>

                                <h6>Quantité</h6>
                                <p class="card-text">{{ item.quantity }}</p>

                                <h6>Total</h6>
                                <p class="card-text">{{ item.product.pricePt * item.quantity }} €</p>

                                <a href="#" class="d-flex btn btn-danger btn-sm justify-content-center">
                                    Retirer</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>

        <div class="container">

                <div class="d-flex justify-content-end">
                    <div class="card">
                        <div class="row">

                                <div class='mb-3'>
                                    <div class="card-body">
                                        <h5 class="card-title">Commande : </h5>
                                        <hr>
                                        <p class="card-text">Nombre de produit(s) commandé(s) : {{ totalPro }}</p>
                                        <p class="card-text">Total de la commande : <b>{{ totalCom }} €</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    {% else %}

        <p>Panier vide !</p>

    {% endif %}



{% endblock %}
