{% extends 'base.html.twig' %}

{% block title %}Village Green - Products{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h2 class="m-3 ml-0">Produits</h2>
    </div>

        <div class="d-flex container">
            <div class="row row-cols-1 row-cols-md-3">

            {% for products in product %}
                <div class="ml-1 my-1">
                    <div class="card" style='width: 26rem;'>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ asset('upload/product/250x400.jpeg') }}" class="img-fluid" alt="img_test">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{ products.name }}</h5>
                                    <p class="card-text">{{ products.label }}</p>
                                    <p>{{ products.pricePt }} €</p>
                                    <a href="{{ path('product.edit', { id : products.id }) }}" class="btn btn-warning">Modifier</a>
                                    <a href='{{ path('product.delete', { id : products.id }) }}' class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            </div>
        </div>

        <div class="d-flex justify-content-center m-2">
            <a href='{{ path('product.new') }}' class="btn btn-primary">Create</a>
        </div>
    
{% endblock %}
