{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="d-flex m-4 justify-content-center">
        <h1>Product</h1>
    </div>
    
    <div class="container">
            <div class="ml-1 my-1">

                <div class="d-flex">
                    <div class="col-4">
                        <img src="{{ asset('upload/product/') }}{{ photo.photo }}" class="img-fluid" alt="{{ photo.photo }}">                                
                    </div>

                    <div class="col-8 mx-5">
                        <h5>{{ product.name }}</h5>
                        <hr>
                        <p>{{ product.label }}</p>
                        <hr>
                        <h6>Description du produit : </h6>
                        <p>{{ product.descri }}</p>
                        <h6>Price : </h6>
                        <p>{{ product.pricePt }} €</p>
                        <hr>
                        <a href="{{ path('app_product_index', { sousrubrique: product.sousrubrique.id }) }}" class="btn btn-primary" >Back to list</a>
                        <a href="{{ path('app_cart_add', {id : product.id }) }}" class="btn btn-success">Ajouter</a>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
