{% extends 'base.html.twig' %}

{% block title %}Village Green - Categorie{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h2 class="m-3 ml-0">Sous-catégories</h2>
    </div>

        <div class="d-flex container justify-content-center">

            <a href="{{ path('app_product')}}" class="card m-1 " style='width: 25rem;'>
                <div class="row-md-4">
                    <img src="{{ asset('upload/product/500x350.jpeg') }}" class="img-fluid" alt="img_test">
                    <h4 class="card-title">Nom Cat 1</h4>
                </div>
            </a>

            <a href="{{ path('app_product')}}"  class="card m-1" style='width: 25rem;'>
                <div class="row-md-4">
                    <img src="{{ asset('upload/product/500x350.jpeg') }}" class="img-fluid" alt="img_test">
                    <h4 class="">Nom Cat 2</h4>
                </div>
            </a>

            <a href="{{ path('app_product')}}"  class="card m-1" style='width: 25rem;'>
                <div class="row-md-4">
                    <img src="{{ asset('upload/product/500x350.jpeg') }}" class="img-fluid" alt="img_test">
                    <h4 class="">Nom Cat 3</h4>
                </div>
            </a>
        </div>
    
{% endblock %}
